<div class="frame">
  <div class="double double67">
    {% if page.images[0].alt %}
      {% assign alt = page.images[0].alt %}
    {% else %}
      {% assign alt = 'Untitled' %}
    {% endif %}
    <img class="a" src="{{site.baseurl}}/photos/page/{{page.images[0].src}}" width="437" height="510" alt="{{alt}}">

    {% if page.images[1].alt %}
      {% assign alt = page.images[1].alt %}
    {% else %}
      {% assign alt = 'Untitled' %}
    {% endif %}
    <img class="b" src="{{site.baseurl}}/photos/page/{{page.images[1].src}}" width="437" height="510" alt="{{alt}}">
  </div>
</div>
