<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Ryan Carver</title>
  <script type="text/javascript" src="http://use.typekit.com/qvq4itn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>  
  <link href="/css/default.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/">Photography <span>by</span> Ryan Carver</a></h1>
    </div>

    <div id="image">
      {{ content }}
    </div>

    <div id="content">
      <dl>
        <dt>Information</dt>
        <dd>
          <p>
            Ryan lives in San Francisco, CA. He often photographs the calm and the isolated.
            These images tend to evoke the nature of himself, rather than the time or place.
          </p>
        </dd>
        <dt>Contact</dt>
        <dd>
          <p>
            Find more of Ryan's work on <a href="http://flickr.com/">flickr</a>, <a href="http://etsy.com/">etsy</a> and <a href="http://foo.com">prints</a>. 
            Contact via email at ryan at ryancarver.com for prints, licensing or commissioned work.
          </p>
        </dd>
      </dl>
      <div class="null"></div>
    </div>
  </div>
</body>
</html>