<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Ryan Carver</title>
  <link href="/css/flickr.css" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      typekit: {
        id: 'qvq4itn'
      }
    });
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/backbone-min.js"></script>
  <script type="text/javascript" src="/js/flickr.js"></script>
  <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom Feed">
</head>
<body>

  <div id="container">
    <header>
      <h1 class="typeset">Ryan Carver Photography</h1>
    </header>

    <div id="main">
      {{ content }}
      <div id="grid"></div>
      <div id="single"></div>
    </div>

    <footer>

    </footer>
  </div>

</body>
</html>
